<?xml version="1.0" encoding="UTF-8"?>
<contentRepository xmlns="http://www.coremedia.com/2010/content"
                   xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="classpath:com/coremedia/blueprint/base/testing/blueprint-doctypes-xmlrepo.xml"/>

  <!--
    Test content for SettingsService
  -->
  <content>
    <folder id="1" name="">
      <folder id="11" name="Sites">
        <folder id="111" name="Helios">
          <folder id="1113" name="Editorial">
            <document id="124" type="CMArticle" name="WithSettings">
              <version number="1">
                <linkProperty name="linkedSettings">
                  <link id="130"/>
                </linkProperty>
              </version>
            </document>
            <document id="130" type="CMSettings" name="settingsDocument">
              <version number="1">
                <markupProperty name="settings" url="130settings.xml" grammar="coremedia-struct-2008"/>
              </version>
            </document>
          </folder>
        </folder>
      </folder>
    </folder>
  </content>
</contentRepository>